<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>

<body>
    <div class="front">
        <div class="main">
            <nav>
                <ul>
                    <li><a href="login">About</a></li>
                    <li><a href="login">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="signup">SignUp</a></li>
                    <li><a href="login">LogIn</a></li>
                </ul>
            </nav>
        </div>
        <div class="name"><span>I</span><span> am </span><span>Siba</span><span>sis</span><span> Badatya .</span><br>
        </div>
        <div class="about">Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br> Expedita tenetur, sunt
            explicabo dignissimos error, iusto totam rerum, laborum est nemo asperiores consequuntur debitis?<br> Eaque
            dolorum soluta, sunt autem voluptatum commodi.</div>
    </div>
    <div class="end" id="contact">
        <footer>
            <ul>
                <li><a
                        href="https://www.facebook.com/login/device-based/regular/login/?login_attempt=1&lwv=120&lwc=1348028"><img
                            src="../assets/fb.png" alt=""></a></li>
                <li><a href="https://www.instagram.com/accounts/login/"><img src="../assets/insta.png" alt=""></a></li>
                <li><a href="https://www.linkedin.com/in/sibasis-badatya-3459a0238"><img src="../assets/ld.png"
                            alt=""></a></li>
            </ul>
            <div class="copy" align="center"><span>SIBASIS BADATYA <span>&#169; </span> 2023 ,ALL RIGHTS RESERVED
                </span></div>
        </footer>
    </div>
</body>

</html>